
TG_TOKEN=
ADMIN_ID=

REDIS_PORT=
REDIS_HOST=
REDIS_DB=
REDIS_URL=
REDIS_PASSWORD=


POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_URL=

ENV=PROD

NETWORK_NAME=default

USAGE_TIMEDELTA_HOURS=24
USAGE_PERIODIC_LIMIT=10
PAY_LINK=https://buymeacoffee.com/garootman/e/263925
GOOGLE_API_KEY=
PROXY_TOKEN=